.button {
  padding: 14px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--shadow-card);
}

.button:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.button:active:not(:disabled) {
  transform: scale(0.98);
}

.button:disabled {
  background-color: var(--color-primary-disabled);
  cursor: not-allowed;
}

.s {
  font-size: 9px;
  padding: 6px 16px;
  font-weight: 550;
}

.sm {
  font-size: 12px;
  padding: 8px;
  font-weight: 600;
}

.m {
  font-size: 13px;
  padding: 11px;
}

.ml {
  font-size: 15px;
  padding: 14px;
}

.l {
  font-size: 18px;
  padding: 18px;
}
