.popup {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1000;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);

  font-size: 0.8rem;
  overflow: hidden;
  box-shadow: var(--shadow-card);

  cursor: pointer;
}

.ItemWrapper {
  margin: 0;
  padding: 3px 10px;
}

.ItemButton {
  background-color: transparent;
  border: none;
}

.ItemWrapper:hover {
  background-color: var(--color-surface);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
