.satisfactionWrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.satisfactionWrapper .satisfactionStar {
  cursor: pointer;
  font-size: 20px;
  line-height: 15px;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  padding: 3px;
}


@media (max-width:400px) {
  .satisfactionWrapper {
    gap: 0px;
  }

  .satisfactionWrapper .satisfactionStar {
    font-size: 16px;
  }
}
