.mobile {
  position: sticky;
  display: block;
  top: 0;
  z-index: 100;
}

.desktop {
  display: none;
}

.navigation {
  position: relative;
  top: 0;
  z-index: 100;
  align-self: start;
}

@media (min-width: 800px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

}

@media (max-width: 1100px) {
  .navigation {
    position: sticky;
    top: 0;
    width: 100%;
  }
}
